{
    "openapi": "3.0.2",
    "info": {
        "title": "Apple App Store Connect API",
        "version": "1.0.0",
        "description": "An OpenAPI Spec for Apple's <a href=\"https://developer.apple.com/documentation/appstoreconnectapi\">App Store Connect API</a>."
    },
    "servers": [
        {
            "url": "https://api.appstoreconnect.apple.com/v1",
            "description": ""
        }
    ],
    "paths": {
        "/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "fields[apps]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "betaAppLocalizations",
                                    "betaAppReviewDetail",
                                    "betaGroups",
                                    "betaLicenseAgreement",
                                    "betaTesters",
                                    "builds",
                                    "bundleId",
                                    "name",
                                    "preReleaseVersions",
                                    "primaryLocale",
                                    "sku"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[users]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "allAppsVisible",
                                    "firstName",
                                    "lastName",
                                    "provisioningAllowed",
                                    "roles",
                                    "username",
                                    "visibleApps"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "include",
                        "description": "Relationship data to include in the response.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "sort",
                        "description": "Attributes by which to sort.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "lastName",
                                    "-lastName",
                                    "username",
                                    "-username"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[roles]",
                        "description": "Attributes, relationships, and IDs by which to filter.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "ADMIN",
                                    "FINANCE",
                                    "TECHNICAL",
                                    "ACCOUNT_HOLDER",
                                    "READ_ONLY",
                                    "SALES",
                                    "MARKETING",
                                    "APP_MANAGER",
                                    "DEVELOPER",
                                    "ACCESS_TO_REPORTS",
                                    "CUSTOMER_SUPPORT"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[visibleApps]",
                        "description": "Attributes, relationships, and IDs by which to filter.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[username]",
                        "description": "Attributes, relationships, and IDs by which to filter.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit",
                        "description": "Number of resources to return.\nMaximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[visibleApps]",
                        "description": "Number of included related resources to return.\nMaximum: 50",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "200": {
                        "$ref": "#/components/responses/UsersResponse"
                    }
                },
                "operationId": "getUsers",
                "summary": "List Users",
                "description": "Get a list of the users on your team."
            }
        },
        "/users/{userIdentifier}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "fields[apps]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "betaAppLocalizations",
                                    "betaAppReviewDetail",
                                    "betaGroups",
                                    "betaLicenseAgreement",
                                    "betaTesters",
                                    "builds",
                                    "bundleId",
                                    "name",
                                    "preReleaseVersions",
                                    "primaryLocale",
                                    "sku"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[users]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "allAppsVisible",
                                    "firstName",
                                    "lastName",
                                    "provisioningAllowed",
                                    "roles",
                                    "username",
                                    "visibleApps"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "include",
                        "description": "Relationship data to include in the response.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[visibleApps]",
                        "description": "Number of included related resources to return.\nMaximum: 50",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getUser",
                "summary": "Read User Information",
                "description": "Get information about a user on your team, such as name, roles, and app visibility."
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "removeUser",
                "summary": "Remove a user from your team.",
                "description": "Remove a user from your team."
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "updateUser",
                "summary": "Change a user's role, app visibility information, or other account details.",
                "description": "Change a user's role, app visibility information, or other account details."
            },
            "parameters": [
                {
                    "name": "userIdentifier",
                    "description": "An opaque resource ID that uniquely identifies the resource.",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{userIdentifier}/visibleApps": {
            "get": {
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "description": "Number of resources to return.\nMaximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[apps]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "betaAppLocalizations",
                                    "betaAppReviewDetail",
                                    "betaGroups",
                                    "betaLicenseAgreement",
                                    "betaTesters",
                                    "builds",
                                    "bundleId",
                                    "name",
                                    "preReleaseVersions",
                                    "primaryLocale",
                                    "sku"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "200": {
                        "$ref": "#/components/responses/AppsResponse"
                    }
                },
                "summary": "List All Apps Visible to a User",
                "description": "Get a list of apps that a user on your team can view."
            },
            "parameters": [
                {
                    "name": "userIdentifier",
                    "description": "An opaque resource ID that uniquely identifies the resource.",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{userIdentifier}/relationships/visibleApps": {
            "get": {
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "description": "Number of resources to return.\nMaximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserVisibleAppsLinkagesResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getUserVisibleAppResourceIDs",
                "summary": "Get All Visible App Resource IDs for a User",
                "description": "Get a list of app resource IDs to which a user on your team has access."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserVisibleAppsLinkagesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Users"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "summary": "Add Visible Apps to a User",
                "description": "Give a user on your team access to one or more apps."
            },
            "delete": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserVisibleAppsLinkagesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Users"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "removeUserVisibleApps",
                "summary": "Remove Visible Apps from a User",
                "description": "Remove a user on your team’s access to one or more apps."
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserVisibleAppsLinkagesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Users"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "updateUserVisibleApps",
                "summary": "Replace the List of Visible Apps for a User",
                "description": "Replace the list of apps a user on your team can see."
            },
            "parameters": [
                {
                    "name": "userIdentifier",
                    "description": "An opaque resource ID that uniquely identifies the resource.",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/userInvitations": {
            "get": {
                "tags": [
                    "User Invitations"
                ],
                "parameters": [
                    {
                        "name": "fields[apps]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "betaAppLocalizations",
                                    "betaAppReviewDetail",
                                    "betaGroups",
                                    "betaLicenseAgreement",
                                    "betaTesters",
                                    "builds",
                                    "bundleId",
                                    "name",
                                    "preReleaseVersions",
                                    "primaryLocale",
                                    "sku"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[users]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "allAppsVisible",
                                    "firstName",
                                    "lastName",
                                    "provisioningAllowed",
                                    "roles",
                                    "username",
                                    "visibleApps"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "include",
                        "description": "Relationship data to include in the response.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "sort",
                        "description": "Attributes by which to sort.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "lastName",
                                    "-lastName",
                                    "username",
                                    "-username"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[roles]",
                        "description": "Attributes, relationships, and IDs by which to filter.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "ADMIN",
                                    "FINANCE",
                                    "TECHNICAL",
                                    "ACCOUNT_HOLDER",
                                    "READ_ONLY",
                                    "SALES",
                                    "MARKETING",
                                    "APP_MANAGER",
                                    "DEVELOPER",
                                    "ACCESS_TO_REPORTS",
                                    "CUSTOMER_SUPPORT"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[visibleApps]",
                        "description": "Attributes, relationships, and IDs by which to filter.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[username]",
                        "description": "Attributes, relationships, and IDs by which to filter.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit",
                        "description": "Number of resources to return.\nMaximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[visibleApps]",
                        "description": "Number of included related resources to return.\nMaximum: 50",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserInvitationsResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getInvitedUsers",
                "summary": "List Invited Users",
                "description": "Get a list of pending invitations to join your team."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserInvitationCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "User Invitations"
                ],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/UserInvitationResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "inviteUser",
                "summary": "Invite a User",
                "description": "Invite a user with assigned user roles to join your team."
            }
        },
        "/userInvitations/{invitationIdentifier}": {
            "get": {
                "tags": [
                    "User Invitations"
                ],
                "parameters": [
                    {
                        "name": "fields[apps]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "betaAppLocalizations",
                                    "betaAppReviewDetail",
                                    "betaGroups",
                                    "betaLicenseAgreement",
                                    "betaTesters",
                                    "builds",
                                    "bundleId",
                                    "name",
                                    "preReleaseVersions",
                                    "primaryLocale",
                                    "sku"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[users]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "allAppsVisible",
                                    "firstName",
                                    "lastName",
                                    "provisioningAllowed",
                                    "roles",
                                    "username",
                                    "visibleApps"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "include",
                        "description": "Relationship data to include in the response.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[visibleApps]",
                        "description": "Number of included related resources to return.\nMaximum: 50",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserInvitationResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getUserInvitation",
                "summary": "Read User Invitation Information",
                "description": "Get information about a pending invitation to join your team."
            },
            "delete": {
                "tags": [
                    "User Invitations"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "cancelUserInvitation",
                "summary": "Cancel a User Invitation",
                "description": "Cancel a pending invitation for a user to join your team."
            },
            "parameters": [
                {
                    "name": "invitationIdentifier",
                    "description": "An opaque resource ID that uniquely identifies the resource.",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/userInvitations/{invitationIdentifier}/visibleApps": {
            "get": {
                "tags": [
                    "User Invitations"
                ],
                "parameters": [
                    {
                        "name": "invitationIdentifier",
                        "description": "An opaque resource ID that uniquely identifies the resource.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "description": "Number of resources to return.\nMaximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[apps]",
                        "description": "Fields to return for included related types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "betaAppLocalizations",
                                    "betaAppReviewDetail",
                                    "betaGroups",
                                    "betaLicenseAgreement",
                                    "betaTesters",
                                    "builds",
                                    "bundleId",
                                    "name",
                                    "preReleaseVersions",
                                    "primaryLocale",
                                    "sku"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/AppsResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getUserInvitationVisibleApps",
                "summary": "List All Apps Visible to an Invited User",
                "description": "Get a list of apps that will be visible to a user with a pending invitation."
            }
        },
        "/userInvitations/{invitationIdentifier}/relationships/visibleApps": {
            "get": {
                "tags": [
                    "User Invitations"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "description": "Number of resources to return.\nMaximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "invitationIdentifier",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserInvitationVisibleAppsLinkagesResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getUserInvitationVisibleAppIDs",
                "summary": "Get All App Resource IDs Visible to an Invited User",
                "description": "Get a list of app resource IDs that will be visible to a user with a pending invitation."
            }
        },
        "/bundleIds": {
            "get": {
                "tags": [
                    "Bundle IDs"
                ],
                "parameters": [
                    {
                        "name": "fields[bundleIds]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleIdCapabilities",
                                    "identifier",
                                    "name",
                                    "platform",
                                    "profiles",
                                    "seedId"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[profiles]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "certificates",
                                    "createdDate",
                                    "devices",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "profileContent",
                                    "profileState",
                                    "profileType",
                                    "uuid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[id]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[identifier]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[name]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[seetId]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[platform]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "IOS",
                                    "MAC_OS"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "include",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleIdCapabilities",
                                    "profiles"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit",
                        "description": "Maximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[profiles]",
                        "description": "Maximum: 50",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "sort",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "id",
                                    "-id",
                                    "name",
                                    "-name",
                                    "platform",
                                    "-platform",
                                    "seedId",
                                    "-seedId"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[bundleIdCapabilities]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "capabilityType",
                                    "settings"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BundleIdsResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getBundelIDs",
                "summary": "List Bundle IDs",
                "description": "Find and list bundle IDs that are registered to your team."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BundleIdCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Bundle IDs"
                ],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/BundleIdResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "createBundleID",
                "summary": "Register a New Bundle ID",
                "description": "Register a new bundle ID for app development."
            }
        },
        "/bundleIds/{bundleIdentifier}": {
            "get": {
                "tags": [
                    "Bundle IDs"
                ],
                "parameters": [
                    {
                        "name": "fields[bundleIds]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleIdCapabilities",
                                    "identifier",
                                    "name",
                                    "platform",
                                    "profiles",
                                    "seedId"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[profiles]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "certificates",
                                    "createdDate",
                                    "devices",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "profileContent",
                                    "profileState",
                                    "profileType",
                                    "uuid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "include",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleIdCapabilities",
                                    "profiles"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[profiles]",
                        "description": "Maximum: 50",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[bundleIdCapabilities]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "capabilityType",
                                    "settings"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BundleIdResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getBundleID",
                "summary": "Read Bundle ID Information",
                "description": "Get information about a specific bundle ID."
            },
            "delete": {
                "tags": [
                    "Bundle IDs"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "deleteBundleID",
                "summary": "Delete a Bundle ID",
                "description": "Delete a bundle ID that is used for app development."
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BundleIdUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Bundle IDs"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BundleIdResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "updateBundleID",
                "summary": "Modify a Bundle ID",
                "description": "Update a specific bundle ID’s name."
            },
            "parameters": [
                {
                    "name": "bundleIdentifier",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/bundleIds/{bundleIdentifier}/relationships/profiles": {
            "get": {
                "tags": [
                    "Bundle IDs"
                ],
                "parameters": [
                    {
                        "name": "bundleIdentifier",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "description": "Maximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BundleIdProfilesLinkagesResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getBundleIDProfileIDs",
                "summary": "Get All Profile IDs for a Bundle ID",
                "description": "Get the resource IDs for all profiles associated with a specific bundle ID."
            },
            "parameters": [
                {
                    "name": "bundleIdentifier",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/bundleIds/{bundleIdentifier}/profiles": {
            "get": {
                "tags": [
                    "Bundle IDs"
                ],
                "parameters": [
                    {
                        "name": "bundleIdentifier",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "description": "Maximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[profiles]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "certificates",
                                    "createdDate",
                                    "devices",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "profileContent",
                                    "profileState",
                                    "profileType",
                                    "uuid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "200": {
                        "$ref": "#/components/responses/ProfilesResponse"
                    }
                },
                "operationId": "getBundleIDProfiles",
                "summary": "List All Profiles for a Bundle ID",
                "description": "Get a list of all profiles for a specific bundle ID."
            }
        },
        "/bundleIds/{bundleIdentifier}/relationships/bundleIdCapabilities": {
            "get": {
                "tags": [
                    "Bundle IDs"
                ],
                "parameters": [
                    {
                        "name": "bundleIdentifier",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "description": "Maximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BundleIdBundleIdCapabilitiesLinkagesResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getBundleIDCapabilityIDs",
                "summary": "Get All Capabilility IDs for a Bundle ID",
                "description": "Get the resource IDs for all capabilities associated with a specific bundle ID."
            }
        },
        "/bundleIds/{bundleIdentifier}/bundleIdCapabilities": {
            "get": {
                "tags": [
                    "Bundle IDs"
                ],
                "parameters": [
                    {
                        "name": "bundleIdentifier",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "description": "Maximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[bundleIdCapabilities]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "capabilityType",
                                    "settings"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BundleIdCapabilitiesResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getBundleIDCapabilities",
                "summary": "List All Capabilities for a Bundle ID",
                "description": "Get a list of all capabilities for a specific bundle ID."
            }
        },
        "/certificates": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "parameters": [
                    {
                        "name": "fields[certificates]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "certificateContent",
                                    "certificateType",
                                    "csrContent",
                                    "displayName",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "serialNumber"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[id]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[serialNumber]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit",
                        "description": "Maximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "sort",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "certificateType",
                                    "-certificateType",
                                    "displayName",
                                    "-displayName",
                                    "id",
                                    "-id",
                                    "serialNumber",
                                    "-serialNumber"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[certificateType]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "IOS_DEVELOPMENT",
                                    "IOS_DISTRIBUTION",
                                    "MAC_APP_DISTRIBUTION",
                                    "MAC_INSTALLER_DISTRIBUTION",
                                    "MAC_APP_DEVELOPMENT",
                                    "DEVELOPER_ID_KEXT",
                                    "DEVELOPER_ID_APPLICATION"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[displayName]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CertificatesResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getCertificates",
                "summary": "List and Download Certificates",
                "description": "Find and list certificates and download their data."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CertificateCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Certificates"
                ],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/CertificateResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "createCertificate",
                "summary": "Create a Certificate",
                "description": "Create a new certificate using a certificate signing request."
            }
        },
        "/certificates/{certificateIdentifier}": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "parameters": [
                    {
                        "name": "fields[certificates]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "certificateContent",
                                    "certificateType",
                                    "csrContent",
                                    "displayName",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "serialNumber"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/CertificateResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getCertificate",
                "summary": "Read and Download Certificate Information",
                "description": "Get information about a certificate and download the certificate data."
            },
            "delete": {
                "tags": [
                    "Certificates"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "revokeCertificate",
                "summary": "Revoke a Certificate",
                "description": "Revoke a lost, stolen, compromised, or expiring signing certificate."
            },
            "parameters": [
                {
                    "name": "certificateIdentifier",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/devices": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "fields[devices]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "addedDate",
                                    "deviceClass",
                                    "model",
                                    "name",
                                    "platform",
                                    "status",
                                    "udid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[id]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[name]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[platform]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "IOS",
                                    "MAC_OS"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[status]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "ENABLED",
                                    "DISABLED"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[udid]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit",
                        "description": "Maximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "sort",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "id",
                                    "-id",
                                    "name",
                                    "-name",
                                    "platform",
                                    "-platform",
                                    "status",
                                    "-status",
                                    "udid",
                                    "-udid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/DevicesResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getDevices",
                "summary": "List Devices",
                "description": "Find and list devices registered to your team."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeviceCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/DeviceResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "createDevice",
                "summary": "Register a New Device",
                "description": "Register a new device for app development."
            }
        },
        "/devices/{deviceIdentifier}": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "fields[devices]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "addedDate",
                                    "deviceClass",
                                    "model",
                                    "name",
                                    "platform",
                                    "status",
                                    "udid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/DeviceResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getDevice",
                "summary": "Read Device Information",
                "description": "Get information for a specific device registered to your team."
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeviceUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/DeviceResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "updateDevice",
                "summary": "Modify a Registered Device",
                "description": "Update the name or status of a specific device."
            },
            "parameters": [
                {
                    "name": "deviceIdentifier",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/profiles": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "parameters": [
                    {
                        "name": "fields[certificates]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "certificateContent",
                                    "certificateType",
                                    "csrContent",
                                    "displayName",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "serialNumber"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[devices]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "addedDate",
                                    "deviceClass",
                                    "model",
                                    "name",
                                    "platform",
                                    "status",
                                    "udid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[profiles]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "certificates",
                                    "createdDate",
                                    "devices",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "profileContent",
                                    "profileState",
                                    "profileType",
                                    "uuid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[id]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[name]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "include",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "certificates",
                                    "devices"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit",
                        "description": "Maximum: 200",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[certificates]",
                        "description": "Maximum: 50",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[devices]",
                        "description": "Maximum: 50",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "sort",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "id",
                                    "-id",
                                    "name",
                                    "-name",
                                    "profileState",
                                    "-profileState",
                                    "profileType",
                                    "-profileType"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[bundleIds]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleIdCapabilities",
                                    "identifier",
                                    "name",
                                    "platform",
                                    "profiles",
                                    "seedId"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[profileState]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "ACTIVE",
                                    "INVALID"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "filter[profileType]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "IOS_APP_DEVELOPMENT",
                                    "IOS_APP_STORE",
                                    "IOS_APP_ADHOC",
                                    "IOS_APP_INHOUSE",
                                    "MAC_APP_DEVELOPMENT",
                                    "MAC_APP_STORE",
                                    "MAC_APP_DIRECT",
                                    "TVOS_APP_DEVELOPMENT",
                                    "TVOS_APP_STORE",
                                    "TVOS_APP_ADHOC",
                                    "TVOS_APP_INHOUSE"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ProfilesResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getProfiles",
                "summary": "List and Download Profiles",
                "description": "Find and list provisioning profiles and download their data."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfileCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Profiles"
                ],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/ProfileResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "createProfile",
                "summary": "Create a Profile",
                "description": "Create a new provisioning profile."
            }
        },
        "/profiles/{profileIdentifier}": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "parameters": [
                    {
                        "name": "fields[certificates]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "certificateContent",
                                    "certificateType",
                                    "csrContent",
                                    "displayName",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "serialNumber"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[devices]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "addedDate",
                                    "deviceClass",
                                    "model",
                                    "name",
                                    "platform",
                                    "status",
                                    "udid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[profiles]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "certificates",
                                    "createdDate",
                                    "devices",
                                    "expirationDate",
                                    "name",
                                    "platform",
                                    "profileContent",
                                    "profileState",
                                    "profileType",
                                    "uuid"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "include",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleId",
                                    "certificates",
                                    "devices"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[certificates]",
                        "description": "Maximum: 50",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit[devices]",
                        "description": "Maximum: 50",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "fields[bundleIds]",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "bundleIdCapabilities",
                                    "identifier",
                                    "name",
                                    "platform",
                                    "profiles",
                                    "seedId"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ProfileResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "getProfile",
                "summary": "Read and Download Profile Information",
                "description": "Get information for a specific provisioning profile and download its data."
            },
            "delete": {
                "tags": [
                    "Profiles"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse"
                    },
                    "409": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "operationId": "deleteProfile",
                "summary": "Delete a Profile",
                "description": "Delete a provisioning profile that is used for app development or distribution."
            },
            "parameters": [
                {
                    "name": "profileIdentifier",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/profiles/{profileIdentifier}/bundleId": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "parameters": [
                    {
                        "name": "profileIdentifier",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "fieldsbundleIds",
                        "description": "",
                        "schema": {
[...]
